.tabbed-view {
    display: flex;
    flex-direction: column;
}

.tabbed-view-tabs::-webkit-scrollbar {
    display: none; /* Скрываем полоску скролла */
}
.tabbed-view-tabs {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    position: sticky;
    padding-top: 12px;
    top: 0;
    z-index: 1;
    background-color: #0C111D;
}

.tabbed-view-tab {
    padding: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    border-radius: var(--2-radius-radius-md);
    background: #161B26;
}


.tabbed-view-tab.active {
    background-color: #3278e1;
}