input[type="checkbox"], input[type="radio"] { all: revert; }
body{
  box-sizing: border-box;
}
textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}
.game-content {
  width: 100%;
}
.App {
  display: flex;
  background: var(--1-color-modes-colors-background-bg-primary);
  min-height: 100vh;
  justify-content: center;
  padding: 12px;
  border: 0;
}

.content {
  width: 80%;
}
ul{
  padding: 0;
  margin: 0;
}
.game-content-description{
  margin: 0 0 12px;
  color: white;
  font-family: var(--text-xs-medium-font-family);
  font-size: var(--text-xs-medium-font-size);
  font-style: var(--text-xs-medium-font-style);
  font-weight: var(--text-xs-medium-font-weight);
  letter-spacing: var(--text-xs-medium-letter-spacing);
  line-height: var(--text-xs-medium-line-height);
  white-space: pre-wrap;
}

@media (max-width: 544px) {
  .content {
    width: 100%;
  }
}

/*var*/
:root {
  --1-color-modes-colors-background-bg-primary: var(--primitives-colors-gray-light-mode-50);
  --1-color-modes-colors-background-bg-secondary: var(--primitives-colors-gray-light-mode-50);
  --1-color-modes-colors-border-border-primary: var(--primitives-colors-gray-light-mode-300);
  --1-color-modes-colors-border-border-secondary: var(--primitives-colors-gray-light-mode-200);
  --1-color-modes-colors-foreground-fg-success-secondary: var(--primitives-colors-success-500);
  --1-color-modes-colors-text-text-secondary-700: var(--primitives-colors-gray-light-mode-700);
  --1-color-modes-colors-text-text-tertiary-600: var(--primitives-colors-gray-light-mode-600);
  --1-color-modes-component-colors-components-avatars-avatar-contrast-border: rgba(0, 0, 0, 0.08);
  --2-radius-radius-full: 9999px;
  --2-radius-radius-md: 8px;
  --3-spacing-spacing-lg: var(--primitives-spacing-3-12px);
  --3-spacing-spacing-md: var(--primitives-spacing-2-8px);
  --primitives-colors-gray-dark-mode-100: rgba(245, 245, 246, 1);
  --primitives-colors-gray-dark-mode-300: rgba(206, 207, 210, 1);
  --primitives-colors-gray-dark-mode-400: rgba(148, 150, 156, 1);
  --primitives-colors-gray-dark-mode-700: rgba(51, 55, 65, 1);
  --primitives-colors-gray-dark-mode-800: rgba(31, 36, 47, 1);
  --primitives-colors-gray-dark-mode-900: rgba(22, 27, 38, 1);
  --primitives-colors-gray-dark-mode-1000: rgba(12, 17, 29, 1);
  --primitives-colors-gray-light-mode-200: rgba(234, 236, 240, 1);
  --primitives-colors-gray-light-mode-300: rgba(208, 213, 221, 1);
  --primitives-colors-gray-light-mode-50: rgba(249, 250, 251, 1);
  --primitives-colors-gray-light-mode-0: rgba(255, 255, 255, 1);
  --primitives-colors-gray-light-mode-600: rgba(71, 84, 103, 1);
  --primitives-colors-gray-light-mode-700: rgba(52, 64, 84, 1);
  --primitives-colors-success-400: rgba(71, 205, 137, 1);
  --primitives-colors-success-500: rgba(23, 178, 106, 1);
  --primitives-spacing-2-8px: 8px;
  --primitives-spacing-3-12px: 12px;
  --text-sm-medium-font-family: "Inter", Helvetica;
  --text-sm-medium-font-size: 14px;
  --text-sm-medium-font-style: normal;
  --text-sm-medium-font-weight: 500;
  --text-sm-medium-letter-spacing: 0px;
  --text-sm-medium-line-height: 20px;
  --text-sm-regular-font-family: "Inter", Helvetica;
  --text-sm-regular-font-size: 14px;
  --text-sm-regular-font-style: normal;
  --text-sm-regular-font-weight: 400;
  --text-sm-regular-letter-spacing: 0px;
  --text-sm-regular-line-height: 20px;
  --text-xs-medium-font-family: "Inter", Helvetica;
  --text-xs-medium-font-size: 12px;
  --text-xs-medium-font-style: normal;
  --text-xs-medium-font-weight: 500;
  --text-xs-medium-letter-spacing: 0px;
  --text-xs-medium-line-height: 18px;
  --text-xs-regular-font-family: "Inter", Helvetica;
  --text-xs-regular-font-size: 12px;
  --text-xs-mregular-font-style: normal;
  --text-xs-regular-font-weight: 00;
  --text-xs-regular-letter-spacing: 0px;
  --text-xs-regular-line-height: 18px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-1-color-modes-mode="light-mode">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-1-color-modes-mode="light-mode"] {
  --1-color-modes-colors-background-bg-primary: var(--primitives-colors-gray-light-mode-0);
  --1-color-modes-colors-background-bg-secondary: var(--primitives-colors-gray-light-mode-50);
  --1-color-modes-colors-border-border-primary: var(--primitives-colors-gray-light-mode-300);
  --1-color-modes-colors-border-border-secondary: var(--primitives-colors-gray-light-mode-200);
  --1-color-modes-colors-foreground-fg-success-secondary: var(--primitives-colors-success-500);
  --1-color-modes-colors-text-text-secondary-900: var(--primitives-colors-gray-dark-mode-100);
  --1-color-modes-colors-text-text-secondary-700: var(--primitives-colors-gray-light-mode-700);
  --1-color-modes-colors-text-text-tertiary-600: var(--primitives-colors-gray-light-mode-600);
  --1-color-modes-component-colors-components-avatars-avatar-contrast-border: rgba(0, 0, 0, 0.08);
}

[data-1-color-modes-mode="dark-mode"] {
  --1-color-modes-colors-background-bg-primary: var(--primitives-colors-gray-dark-mode-1000);
  --1-color-modes-colors-background-bg-secondary: var(--primitives-colors-gray-dark-mode-900);
  --1-color-modes-colors-border-border-primary: var(--primitives-colors-gray-dark-mode-700);
  --1-color-modes-colors-border-border-secondary: var(--primitives-colors-gray-dark-mode-800);
  --1-color-modes-colors-foreground-fg-success-secondary: var(--primitives-colors-success-400);
  --1-color-modes-colors-text-text-secondary-900: var(--primitives-colors-gray-dark-mode-100);
  --1-color-modes-colors-text-text-secondary-700: var(--primitives-colors-gray-dark-mode-300);
  --1-color-modes-colors-text-text-tertiary-600: var(--primitives-colors-gray-dark-mode-400);
  --1-color-modes-component-colors-components-avatars-avatar-contrast-border: rgba(255, 255, 255, 0.12);
}

